# compiled output
.vscode
/node_modules

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test
jest.config.js

# docker
Dockerfile
docker-compose.yml

frontend/build
frontend/node_modules
frontend/.vscode
frontend/.eslintrc
frontend/.eslintignore
frontend/.editorconfig
frontend/.huskyrc
frontend/.lintstagedrc.json
frontend/.prettierrc
